<h1>Application </h1>
<h2><%= @application.first_name %></h2>
<%= @application.last_name %>
<%= @application.email %>
<%= @application.phone_number %>
<%= @application.street %>
<%= @application.post_code %>
<%= @application.city %>
<%= @application.country %>
<%= @application.website %>
<%= @application.linkedin %>
<%= @application.cover_letter %>
<%= @application.status %>

<h1>this is a pic</h1>
<%= cl_image_tag @application.profile_picture, height: 300, width: 400, crop: :fill %>
<h1>this also (is a pic)</h1>
<%= cl_image_tag @application.resume, height: 300, width: 400, crop: :fill %>
<%= link_to "Edit", edit_application_path %>
<%= link_to "Back to applications", all_applications_path %>

