<h1 class="text-center">All the job offers</h1>

<div class="row">
<% @job_offers.each do |job_offer| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3> <%= job_offer.job_title %> </h3>
          <p> <%= job_offer.category %> </p>
          <p> <%= job_offer.division %> </p>
          <p> <%= job_offer.start_date %> </p>
          <p><%= link_to "See job offer", job_offer_path(job_offer), class: "btn btn-default" %>
          <% if user_signed_in? %>
            <%= link_to "Edit job offer", edit_job_offer_path(job_offer), class: "btn btn-primary"%> </p>
            <p><%= link_to "See applications", job_offer_applications_path(job_offer), class: "btn btn-default" %></p>
          <% end %>
        <!--  Add the job_offer.status
              Add the job_offer / number of applications -->
      </div>
    </div>
  </div>
<% end %>
</div>
