<h1> <%= @job_offer.job_title %> </h1>
<p>#<%= @job_offer.division %></p>
<p>#<%= @job_offer.category %></p>
<p>#<%= @job_offer.contract_type %></p>
<p>#<%= @job_offer.start_date %></p>
<p>#<%= @job_offer.location %></p>

<h2>DIVISION DESCRIPTION</h2>
<p> <%= @job_offer.division_description %></p>


<h2>JOB DESCRIPTION</h2>
<p> <%= @job_offer.job_description %></p>

<h2>EXPECTED PROFILE</h2>
<p> <%= @job_offer.expected_profile %></p>

<%= link_to "Back to job offers", job_offers_path %>
