<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1><strong><%= @job_offer.job_title.capitalize %></strong></h1>

    <div><strong>#<%= @job_offer.division %>#<%= @job_offer.category %>#<%= @job_offer.contract_type %></strong></div>
    <p class=""><%= @job_offer.start_date %>, <%= @job_offer.location %></p>
    <br>
    <div>
      <h4><strong>DIVISION DESCRIPTION</strong></h4>
      <p> <%= @job_offer.division_description %></p>
    </div>
    <br>
    <div>
      <h4><strong>JOB DESCRIPTION</strong></h4>
      <p> <%= @job_offer.job_description %></p>
    </div>
    <br>
    <div>
      <h4><strong>EXPECTED PROFILE</strong></h4>
      <p> <%= @job_offer.expected_profile %></p>
    </div>
    <br>

    <div class="text-center"><%= link_to "Back to job offers", job_offers_path, class: "btn btn-default" %></div>
  </div>
</div>

